<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="by.it_academy.jd2.Mk_JD2_98_23.gr2" level="debug" />

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
