<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         metadata-complete="false">

    <display-name>testNBRB-group-2</display-name>

    <context-param>
        <param-name>appUrl</param-name>
        <param-value>http://localhost:8081/testNBRB-group-2</param-value>
    </context-param>

</web-app>